#column_right
  #box_categories
    = render('box', foo: 5)
  #box_categories
    = render('box', foo: 3)
  #box_categories
    = render('box', foo: 2)
  #box_categories
    = render('box', foo: 5)
  #box_categories
    = render('box', foo: 7)
  #box_categories
    = render('box', foo: 6)
  #box_categories
    = render('box', foo: 1)
  #box_categories
    = render('box', foo: 2)