<%= form_for(@product_packed) do |f| %>
  <% if @product_packed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_packed.errors.count, "error") %> prohibited this product_packed from being saved:</h2>

      <ul>
      <% @product_packed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :quantity_packed %><br>
    <%= f.text_field :quantity_packed %>
  </div>
  <div class="field">
    <%= f.label :quantity_unpacked %><br>
    <%= f.text_field :quantity_unpacked %>
  </div>
  <div class="field">
    <%= f.label :price_packed %><br>
    <%= f.text_field :price_packed %>
  </div>
  <div class="field">
    <%= f.label :price_unpacked %><br>
    <%= f.text_field :price_unpacked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
