%h1 Listing product_packeds
%table
  %thead
    %tr
      %th Id
      %th Name
      %th Description
      %th Url
      %th Quantity packed
      %th Quantity unpacked
      %th Price packed
      %th Price unpacked
      %th{:colspan => "3"}
  %tbody
    - @product_packeds.each do |product_packed|
      %tr
        %td= product_packed.id
        %td= product_packed.name
        %td= product_packed.description
        %td= product_packed.url
        %td= product_packed.quantity_packed
        %td= product_packed.quantity_unpacked
        %td= product_packed.price_packed
        %td= product_packed.price_unpacked
        %td= link_to 'Show', product_packed
        %td= link_to 'Edit', edit_product_packed_path(product_packed)
        %td= link_to 'Destroy', product_packed, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Product packed', new_product_packed_path
