.box
  #accordion.panel-group
    .panel.panel-default
      - for i in 0..Category.first.child_categories.length-1
        .panel-heading
          .panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{i}"}
              = Category.first.child_categories[i].name
            %span.badge.category-title-badge #{Category.first.child_categories[i].products.length}
        .panel-collapse.collapse.out{:id => "collapse#{i}"}
          .panel-body.category-box-panel
            .list-group.category-box-list
              - for j in 0..Category.first.child_categories[i].products.length-1
                %a.list-group-item.category-box-item{href: "#"}
                  %span.badge #{j}
                  = Category.first.child_categories[i].products[j].name
