#column_right
  #box_categories
    = render('default/box', foo: 5)
  #box_categories
    = render('default/box', foo: 3)
  #box_categories
    = render('default/box', foo: 2)
  #box_categories
    = render('default/box', foo: 5)
  #box_categories
    = render('default/box', foo: 7)