%h1 Listing products
%table
  %thead
    %tr
      %th Id
      %th Name
      %th Description
      %th Url
      %th Quantity
      %th Price
      %th{:colspan => "3"}
  %tbody
    - @products.each do |product|
      %tr
        %td= product.id
        %td= product.name
        %td= product.description[0,100]
        %td= product.url
        %td= product.quantity
        %td= product.show_price
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'New Product', new_product_path
