!!!
%html
  %head
    %title Newshop
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body#shop_body
    .container-fluid
      .row
        .col-sm-1
        .col-sm-10
          = render('default/header')
          .container-fluid
            .row
              .col-sm-3#boxes_left
                #column_left
                  - Front.boxes[:left].each do |box|
                    .box_categories
                      = render 'boxes/box', box
              .col-sm-6#center_main
                = yield
              .col-sm-3#boxes_right
                - Front.boxes[:right].each do |box|
                  .box_categories
                    = render 'boxes/box', box
          = render('default/footer')
        .col-sm-1
      
